#heading {
    text-align: center;
    color: blueviolet;
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
}

#navbar {
    align-content: center;
}